@{
    var displayName = HttpContext.Current.Session["displayname"] != null ? HttpContext.Current.Session["displayname"].ToString() : string.Empty;

    var currentUrlLocalPath = HttpContext.Current.Request.Url.LocalPath.ToLower();

    var currentUrl = HttpContext.Current.Request.Url.ToString().TrimEnd('/');

    var isImageRequest = currentUrl.IndexOf(".png", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                         currentUrl.IndexOf(".jpg", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                         currentUrl.IndexOf(".gif", StringComparison.CurrentCultureIgnoreCase) > 0;

    var dashboardPageUrl = Url.Action("Dashboards", "Dashboards");

    var widgetsPageUrl = Url.Action("Widgets", "Widgets");
    var dataSourcesPageUrl = Url.Action("DataSources", "DataSources");
    var schedulePageUrl = Url.Action("Schedules", "Scheduler");
    var profilePageUrl = Url.Action("Profilepage", "User");
    var homepagePageUrl = Server.UrlDecode(Url.Action("Homepages", "Homepages"));
}

    <aside class="menu-bar" id="app-navigation">
        <nav id="main-nav">
            <a id="mobile-profile-picture" href="@profilePageUrl" class="mobile-visible">
                <div class="mobile-display-name">@displayName</div>
                <img alt="Profile Picture" width="175" src="@Url.Content("~/User/Avatar?Username=" + (((ServerPrincipal) HttpContext.Current.User).UserId) + "&ImageSize=110")" />

            </a>
            <ul id="items-menu">
                @*<li>
                        <nav-item href="@Url.Action("Dashboards", "Dashboards")" url="@currentUrlLocalPath" icon="su-design-dashboard"></nav-item>
                    </li>*@
                @if(DeviceDetection.IsMobile)
                {
                <li>
                    <a class="@(currentUrlLocalPath == "/" || currentUrlLocalPath.IndexOf(homepagePageUrl, StringComparison.OrdinalIgnoreCase) > -1 ? "active" : string.Empty )" href="@homepagePageUrl" data-toggle="" data-placement="right" data-container="body" title="[[[Homepages]]]">
                        <i class="su su-nav-home"></i>
                        <span class="menu-label mobile-visible">[[[Homepages]]]</span>
                    </a>
                </li>
                }
                <li>
                    <a class="@(currentUrlLocalPath.IndexOf(dashboardPageUrl, StringComparison.OrdinalIgnoreCase) > -1 ? "active" : string.Empty )" href="@dashboardPageUrl" data-toggle="@(DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Dashboards]]]"> 
                            <i class="su su-nav-dashboard"></i>
                            <span class="menu-label mobile-visible">[[[Dashboards]]]</span>
                        </a>
                </li>
                <li>
                    <a class="@(currentUrlLocalPath.IndexOf(widgetsPageUrl, StringComparison.OrdinalIgnoreCase) > -1 ? "active" : string.Empty )" href="@widgetsPageUrl" data-toggle="@(DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Widgets]]]">
                        <i class="su su-nav-widgets"></i>
                        <span class="menu-label mobile-visible">[[[Widgets]]]</span>
                    </a>
                </li>
                <li>
                    <a class="@(currentUrlLocalPath.IndexOf(dataSourcesPageUrl, StringComparison.OrdinalIgnoreCase) > -1 ? "active" : string.Empty )" href="@dataSourcesPageUrl" data-toggle="@(DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Data Sources]]]">
                        <i class="su su-nav-datasource"></i>
                        <span class="menu-label mobile-visible">[[[Data Sources]]]</span>
                    </a>
                </li>
                <li>
                    <a class="@(currentUrlLocalPath.IndexOf(schedulePageUrl, StringComparison.OrdinalIgnoreCase) > -1 ? "active" : string.Empty )" href="@schedulePageUrl" data-toggle="@(DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Schedules]]]">
                        <i class="su su-nav-schedule"></i>
                        <span class="menu-label mobile-visible">[[[Schedules]]]</span>
                    </a>
                </li>

                <li class="li-logout">
                    <img src="@Url.Content("~/Content/Images/divider_dark.png")" class="upper-divider" />
                    <a class="" href="@Url.Action("logout", "accounts")" data-toggle="@(!DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Log Out]]]">
                        <i class="su su-logout"></i>
                        <span class="menu-label mobile-visible">[[[Log Out]]]</span>
                    </a>
                </li>
            </ul>
            @if (isImageRequest == false && HttpContext.Current.Session["IsAdmin"] != null && Convert.ToBoolean(HttpContext.Current.Session["IsAdmin"]) && !DeviceDetection.IsMobile)
            {
                <ul id="administration-menu" class="mobile-hidden">
                    <li>
                        <a class="@(currentUrl.IndexOf(Url.Action("Administration", "Administration"), StringComparison.CurrentCultureIgnoreCase) > 0 && currentUrl.IndexOf(Url.Action("Index", "UserManagement"), StringComparison.CurrentCultureIgnoreCase) < 0 && currentUrl.IndexOf(Url.Action("grouppermission", "permission"), StringComparison.CurrentCultureIgnoreCase) < 0 && currentUrl.IndexOf(Url.Action("userpermission", "permission"), StringComparison.CurrentCultureIgnoreCase) < 0 ? "active" : string.Empty)" href="@Url.Action("Administration", "Administration")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[Settings]]]">
                            <i class="su su-nav-settings"></i>
                        </a>
                    </li>
                    <li>
                        <a class="@(currentUrl.IndexOf(Url.Action("Index", "UserManagement"), StringComparison.CurrentCultureIgnoreCase) > 0 || currentUrl.IndexOf(Url.Action("grouppermission", "permission"), StringComparison.CurrentCultureIgnoreCase) > 0 || currentUrl.IndexOf(Url.Action("userpermission", "permission"), StringComparison.CurrentCultureIgnoreCase) > 0 ? "active" : string.Empty)" href="@Url.Action("Index", "UserManagement")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[User Management]]]">
                            <i class="su su-nav-user-management"></i>
                        </a>
                    </li>
                </ul>
            }
        </nav>
    </aside>

