@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Users List]]]";
    var umsUrl = GlobalAppSettings.SystemSettings.UmsUrl;
}

@section styles{
    @Styles.Render("~/Styles/user-management-module")

}

@section scripts{

    @Scripts.Render("~/Scripts/user-management")
<script>
        var avatarUrl = "@umsUrl" + "/user/avatar";
        var getAllActiveGroupListUrl = "@Url.Action("GetAllActiveGroupList", "UserManagement")";
        var userPageUrl = "@Url.Action("Index", "UserManagement")";
        var getAllUsersUrl = "@Url.Action("GetAllActiveUsers", "UserManagement")";

</script>
    <script>
        window.data = JSON.parse(@Html.Raw(Json.Encode(ViewBag.users)));
    </script>
    <script type="text/javascript">
        function selectItems(e) {
            var parentRow = $(e.event.currentTarget.parentNode).parents(".user-row-details");
            $(parentRow).hasClass('user-table-row-selected') ? $(parentRow).removeClass('user-table-row-selected') : $(parentRow).addClass("user-table-row-selected");
        }
       
    </script>

    <script type="text/x-jsrender" id="user-profile-template">
        <a class="item-name grid-content" title="{{:DisplayName}}" data-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?username={{:UserName}}">{{:DisplayName}}</a>
    </script>
    <script type="text/x-jsrender" id="user-email-template">
        <span class="grid-content" title="{{:Email}}" data-toggle="tooltip">{{:Email}}</span>
    </script>
    <script type="text/x-jsrender" id="status-description-template">
        {{if StatusDescription=="Active"}}
        [[[Active]]]
        {{else StatusDescription== "Inactive"}}
        [[[Inactive]]]
        {{/if}}
    </script>
    <script type="text/x-jsrender" id="itemname-header">
        <div class="item-name">[[[Name]]]</div>
    </script>
    <script type="text/x-jsrender" id="email-header">
        <div class="item-header">[[[Email Address]]]</div>
    </script>
    <script type="text/x-jsrender" id="status-header">
        <div class="item-header">[[[Status]]]</div>
    </script>

    <script type="text/x-jsrender" id="options">
        <div class="dropdown">
            <span class="dropdown-toggle option-icon" data-toggle="dropdown" data-content="{{:UserName}}">
                <span class="su su-options"> </span>
            </span>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a  href="@Url.Action("userpermission", "permission")?userId={{:UserId}}" title="">
                        <i class="su su-settings-2"></i>
                        <span>[[[Manage Permissions]]]</span>
                    </a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a href="@Url.Action("ViewProfile", "UserManagement")?username={{:UserName}}" title="">
                        <i class="su su-eye"></i>
                        <span>[[[View]]]</span>
                    </a>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        $(function () {
            $("#search-users").val("");
            var data = ej.DataManager({
                url: "@Url.Action("GetAllUserList", "UserManagement")",
                adaptor: new ej.UrlAdaptor()
            });

            $("#user_grid").ejGrid({
                dataSource: data,
                gridLines: ej.Grid.GridLines.None,
                allowPaging: true,
                allowSorting: true,
                allowSearching: true,
                allowSelection: true,
                allowFiltering: true,
                pageSettings: { pageSize: 20 },
                filterSettings: { filterType: "menu" },
                selectionType: ej.Grid.SelectionType.Multiple,
                selectionSettings: { selectionMode: ["row"] },
                enableRowHover: true,
                enableAltRow: false,
                rowDataBound: function () {
                    var height = $(".e-gridcontent").height();
                    if (height != null) {
                        rowBound();
                    }
                },
                dataBound: function (args) {
                    $('[data-toggle="tooltip"]').tooltip();
                },
                rowSelecting: function (e) {
                    this.multiSelectCtrlRequest = true;
                },
                recordClick: "fnUserRecordClick",
                load: "fnOnUserGridLoad",
                actionBegin: "fnOnUserGridActionBegin",
                actionComplete: "fnOnUserGridActionComplete",
                columns: [
                    {
                        template: true,
                        allowSorting: true,
                        templateID: "#user-profile-template",
                        headerText: "[[[Name]]]",
                        width: 115,
                        headerTemplateID: "#itemname-header",
                        field: "DisplayName",
                        type: "string"
                    },
                    {
                        field: "Email",
                        templateID: "#user-email-template",
                        headerText: "[[[Email Address]]]",
                        headerTemplateID: "#email-header",
                        type: "string",
                        width: 155
                    },
                    {
                        field: "StatusDescription",
                        headerText: "[[[Status]]]",
                        headerTemplateID: "#status-header",
                        templateID: "#status-description-template",
                        width: 80,
                        allowFiltering: false
                    },
                    {
                        template: true,
                        allowSorting: false,
                        templateID: "#options",
                        width: 75,
                        allowFiltering: false
                    }
                ]

            });
        });

    </script>
}

@section MainSection{
    @Html.Partial("_UserMenu")

    <div id="base-container" class="col-xs-12 admin-page-container no-padding ">
        <div class="col-lg-12 admin-page-header">
            <div class="col-xs-12 no-padding" id="user-title">
                <h1 class="pull-left no-padding page-title">
                    <input type="hidden" id="user-count-text" value="@ViewBag.UserCount">
                    [[[USERS]]] (<span id="user-count" value="@ViewBag.UserCount">@ViewBag.UserCount</span>)
                </h1>

                <div class="no-padding">
                    <button class="primary-button pull-right" id="user-synchronization" title="[[[Synchronize users]]]">
                        <span>[[[Synchronize]]] </span>
                    </button>
                </div>

                <div class="no-padding">
                    <button class="btn secondary-button pull-right" id="ums-server" title="[[Add, Edit, Delete Users]]]" onclick="window.open('@GlobalAppSettings.SystemSettings.UmsUrl')">
                        <span>[[[Manage Users]]]</span>
                    </button>
                </div>

            </div>
        </div>

        <div id="user-list-container" class="list col-xs-12 admin-page-body">
            <div id="search-area" class="pull-right">
                <input type="text" class="pull-left" id="search-users" placeholder="[[[Search users]]]" />
                <span class="su su-inner-close close-icon pull-left" id="clear-search" title="[[[Clear search]]]"></span>
                <span class="su su-search search-user pull-left" title="[[[Search]]]"></span>
            </div>
            <div class="col-xs-12 no-padding ">
                <div id="user_grid">
                </div>
            </div>

        </div>
    </div>

}