@{
    Layout = null;
    var userHomepage = ViewBag.UserHomepage as List<HomepageDetail>;
    var isHomepageExists = Convert.ToBoolean(ViewBag.IsHomepageExists);
    var dashboardServiceResourceUrl = GlobalAppSettings.SystemSettings.DashboardServiceResourceUrl;
    var isDebug = GlobalAppSettings.SystemSettings.IsDebug;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/Styles/homepage-viewer-page")
    @Scripts.Render("~/Scripts/homepage-viewer-page")
    @if (isDebug)
    {
        <script src="@(dashboardServiceResourceUrl + "/scripts/ej.dashboardViewer.all.min.js")"></script>
    }
    <script type="text/javascript">
        var pinWidgetUrl = "@Url.Action("pinitemtohomepage", "homepages")";
        var addHomepageUrl = "@Url.Action("addhomepage", "homepages")";
        var checkHomepageNameExistUrl = "@Url.Action("checkhomepagenameexist", "homepages")";
        $(document).ready(function () {
            var widgetName = parent.$("#pin-widget-popup").attr("data-widget-name");
            parent.$("#pin-widget-popup-iframe").contents().find("#widget-name").val(widgetName);
            $("#filter-info").popover();
            parent.$('#success-alert, #warning-alert').fadeOut();
            parent.$("#pin-widget-popup_wrapper").ejWaitingPopup("hide");
            parent.$(".e-dashboardviewer").ejDashboardViewer("instance").isWidget ? $("#filter-container").remove() : null;
            var itemName = parent.window.IsDashboard ? "Dashboard" : "Widget";
            $("#item-name").text(itemName);
            if(@userHomepage.Count == 0){
                $("#select-homepage").selectpicker("refresh");
                $("#select-content").find(".dropdown-menu > .bs-searchbox").after("<span class='no-result-found'>[[[No Results Found]]]</span>");
            }
            if(!(@Json.Encode(isHomepageExists))){
                $("#select-homepage").append("<option value='' data-item='Widget' data-virtual-homepage='true'>[[[Homepage1]]]</option>");
                $("#select-homepage").next().find(".dropdown-menu > .no-result-found").remove();
                $("#select-homepage").selectpicker("refresh");
            }
        });
    </script>
</head>
<body>
    <form id="pin-widget-form" autocomplete="off">
        <div class="col-md-12 header-menu">
            <span class="su su-pin head-icon"></span>
            <span class="popup-title">[[[Pin <span id="item-name"></span> to the Homepage]]]</span>
            <a href="javascript:void(0);" title="[[[Close]]]" class="popup-close" onclick="closePinWidgetPopup()"><span class="su su-close"></span></a>
            <div id="homepage-name"><div id="sub-title" data-toggle="tooltip" data-placement="bottom" data-original-title="">[[[Select an existing homepage or add a new one.]]]</div></div>
            <div id="widget-name-container" class="col-xs-12">
                @Html.Label("widget-label", "[[[Widget name]]]", new { @class = "app-textbox-label widget-name-label col-xs-3" })
                <div id="widget-input" class="col-xs-4">
                    <input type="text" id="widget-name" name="widgetname" class="form-control" maxlength="255" autofocus />
                    <span class="validation-errors"></span>
                </div>
            </div>
        </div>
        <div id="pin-widget-container">
            <div class="col-xs-3">
                @Html.Label("homepage-label", "[[[Homepage]]]", new { @class = "app-textbox-label homepage-name-label col-xs-3" })
            </div>
            <div class="col-xs-4">
                <input type="radio" class="css-radio" id="existing-homepage" name="pin-widget-option" value="pin-exist" checked />
                <label for="existing-homepage" class="notransition">[[[Existing]]]</label>
            </div>
            <div class="col-xs-4">
                <input type="radio" class="css-radio" id="new-homepage" name="pin-widget-option" value="pin-new" />
                <label for="new-homepage" class="notransition">[[[New]]]</label>
            </div>
            <div id="select-content">
                <select data-live-search="true" class="selectpicker dropup form-control" id="select-homepage" data-size="4" title="[[[Select the homepage to pin]]]" data-original-value="null" data-container="#pin-widget-form" data-dropup-auto="false" >
                    <option data-hidden="true" data-toggle="tooltip" data-placement="right" data-container="body" value="">[[[Select the homepage to pin]]]</option>
                    @if (userHomepage != null && userHomepage.Count > 0)
                    {
                        for (var item = 0; item < userHomepage.Count; item++)
                        {
                            <option value="@userHomepage[item].Id" data-item="@userHomepage[item].ItemType">@userHomepage[item].Name</option>
                        }
                    }
                </select>
                <span id="select-validation" class="validation-errors"></span>
            </div>
            <div class="hidden" id="input-content">
                <input type="text" id="new-homepage-name" name="newhomepagename" class="form-control" maxlength="255" placeholder="[[[New homepage name]]]" autofocus />
                <span class="validation-errors"></span>
            </div>
            <div class="col-xs-12" id="filter-container">
                @Html.Label("keepfilter", "[[[Keep filters]]]", new { @class = "app-textbox-label col-xs-4", @id = "keep-filter-label" })
                <div class="col-xs-4 keepfilter switch-align">
                    <span class="material-switch text-left">
                        <input type="checkbox" id="keepfilter" name="keep-filter" checked />
                        <label for="keepfilter" class="label-primary"></label>
                    </span>
                </div>
                <div id="info-tag">
                    <span id="filter-info" class="su su-info info-popup" data-toggle="popover" data-placement="top" data-content='[[[Enable this to pin any widget to the homepage along with the filters applied to it.]]]'></span>
                </div>
            </div>
            <div id="pin-widget-button">
                <div id="button-container">
                    <input type="button" id="save-button" class="btn primary-button" value="[[[Pin]]]">
                    <input type="button" id="cancel-button" class="btn secondary-button" value="[[[Cancel]]]" onclick="closePinWidgetPopup()">
                </div>
            </div>
        </div>
    </form>
</body>
</html>