<script>
    var addCategoryIframeUrl = "@Url.Action("addcategory", "category")";
    var addDatasourceIframeUrl = "@Url.Action("adddatasource", "datasources")";
    var addFileIframeUrl = "@Url.Action("AddFile", "Files")";
    var addDashboardIframeUrl = "@Url.Action("AddDashboard", "dashboards")";
    var addWidgetUrl = "@Url.Action("addwidget", "widgets")";
    var createDatasourceUrl = "@Url.Action("CreateDatasource", "DataSources")";
    var addSampleItemsUrl = "@Url.Action("AddSampleItems", "Items")";
    var schedulerIframeUrl = "@Url.Action("GetSchedulerDialog", "scheduler")";
    var createDatasourceIframeUrl = "@Url.Action("Connection", "DataSourceDesigner")";
</script>

<div id="datasource-popup" style="display:none">
    <iframe id="datasource-popup-iframe" class="datasource-popup-frame"></iframe>
</div>
<div id="widget_popup" style="display:none">
    <iframe id="widget_popup_iframe" class="widget-popup-frame"></iframe>
</div>
<div id="AddCategoryPopup" style="display:none">
    <iframe id="AddCategoryPopup_iframe" class="categoryDialog"></iframe>
</div>
<div id="item-delete-confirmation" class="no-padding" style="display:none"></div>
<div id="privacy-settings-container" class="no-padding"></div>
<div id="file-popup" style="display:none">
    <iframe id="file-popup-iframe" class="file-popup-frame"></iframe>
</div>
<div id="report_popup" class="col-md-12 DisplayNone" style="display:none">
    <iframe id="report_iframe" class="EditIframe"></iframe>
</div>

<div id="make_item_public" class="no-padding" style="display:none"></div>
<div id="remove_item_public" class="no-padding" style="display:none"></div>

<div id="create-presentation-popup" class="no-padding" style="display:none">
    <div id="create-presentation-div">
        @{Html.RenderPartial("~/Views/Slideshow/_CreateSlideshow.cshtml");}
    </div>
</div>

<div id="make_item_unlist" class="no-padding"></div>
<div id="remove_item_unlist" class="no-padding"></div>

<div id="create-connection-popup" class="fluent-popup display-none">
    <div id="connection-header" class="fluent-popup-header">
        <h4 class="popup-title">
            <i class="su su-nav-datasource"></i>
            <span>[[[Create Data Source]]]</span>
            <button id="close-connection-dialog" type="button" title="[[[Close]]]" class="close popup-close" aria-label="Close" onclick="onCreateConnectionDialogClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>
    <iframe id="create-connection-iframe" class="datasource-create-frame"></iframe>
</div>
